The first objective is to subset the data by keeping only data from europe and to add among the european countries, those with more data and with less variability. We assume missing at random and we are not imputing data here. It is assumed that the data of 2024 in terms of salaries will be inflated by 3%. This is not entirely true as we know this year the job market is cooling down in Europe.

In [7]:
# Loading Data
# Importing Libraries
import pandas as pd
from datasets import load_dataset
import matplotlib.pyplot as plt
import ast


# Loading Data
b = load_dataset('lukebarousse/data_jobs')
c = b['train'].to_pandas()
d =c.copy()
d['job_skills1']=d['job_skills'].apply(lambda x: ast.literal_eval(x) if pd.notna(x)  else x )
print(d[ ['job_skills1','job_skills'] ].head(10).to_string())


print(d.info())
e=d.explode('job_skills1', ignore_index=True).copy()
e.info()
e.head(2)

                                                                            job_skills1                                                                                                  job_skills
0                                                                                  None                                                                                                        None
1                                            [r, python, sql, nosql, power bi, tableau]                                                      ['r', 'python', 'sql', 'nosql', 'power bi', 'tableau']
2                   [python, sql, c#, azure, airflow, dax, docker, kubernetes, jenkins]                       ['python', 'sql', 'c#', 'azure', 'airflow', 'dax', 'docker', 'kubernetes', 'jenkins']
3                          [python, c++, java, matlab, aws, tensorflow, keras, pytorch]                                ['python', 'c++', 'java', 'matlab', 'aws', 'tensorflow', 'keras', 'pytorch']
4                    [bash, python, oracle, aws, ansible, puppet, jenkins, gitlab, git]                        ['bash', 'python', 'oracle', 'aws', 'ansible', 'puppet', 'jenkins', 'gitlab', 'git']
5                                                                    [python, sql, gcp]                                                                                    ['python', 'sql', 'gcp']
6                                [sql, python, java, sql server, gcp, bigquery, hadoop]                                        ['sql', 'python', 'java', 'sql server', 'gcp', 'bigquery', 'hadoop']
7  [sql, nosql, gcp, azure, aws, bigquery, databricks, redshift, airflow, kafka, spark]  ['sql', 'nosql', 'gcp', 'azure', 'aws', 'bigquery', 'databricks', 'redshift', 'airflow', 'kafka', 'spark']
8                                                         [excel, powerpoint, power bi]                                                                         ['excel', 'powerpoint', 'power bi']
9  [sql, python, r, mongodb, mongodb, sql server, azure, pandas, spark, windows, excel]  ['sql', 'python', 'r', 'mongodb', 'mongodb', 'sql server', 'azure', 'pandas', 'spark', 'windows', 'excel']
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 785741 entries, 0 to 785740
Data columns (total 18 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   job_title_short        785741 non-null  object
 1   job_title              785740 non-null  object
 2   job_location           784696 non-null  object
 3   job_via                785733 non-null  object
 4   job_schedule_type      773074 non-null  object
 5   job_work_from_home     785741 non-null  bool
 6   search_location        785741 non-null  object
 7   job_posted_date        785741 non-null  object
 8   job_no_degree_mention  785741 non-null  bool
 9   job_health_insurance   785741 non-null  bool
 10  job_country            785692 non-null  object
 11  salary_rate            33067 non-null   object
 12  salary_year_avg        22003 non-null   float64
 13  salary_hour_avg        10662 non-null   float64
 14  company_name           785723 non-null  object
 15  job_skills             668704 non-null  object
 16  job_type_skills        668704 non-null  object
 17  job_skills1            668704 non-null  object
dtypes: bool(3), float64(2), object(13)
memory usage: 92.2+ MB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3777320 entries, 0 to 3777319
Data columns (total 18 columns):
 #   Column                 Dtype
---  ------                 -----
 0   job_title_short        object
 1   job_title              object
 2   job_location           object
 3   job_via                object
 4   job_schedule_type      object
 5   job_work_from_home     bool
 6   search_location        object
 7   job_posted_date        object
 8   job_no_degree_mention  bool
 9   job_health_insurance   bool
 10  job_country            object
 11  salary_rate            object
 12  salary_year_avg        float64
 13  salary_hour_avg        float64
 14  company_name           object
 15  job_skills             object
 16  job_type_skills        object
 17  job_skills1            object
dtypes: bool(3), float64(2), object(13)
memory usage: 443.1+ MB

,job_title_short,job_title,job_location,job_via,job_schedule_type,job_work_from_home,search_location,job_posted_date,job_no_degree_mention,job_health_insurance,job_country,salary_rate,salary_year_avg,salary_hour_avg,company_name,job_skills,job_type_skills,job_skills1
0,Senior Data Engineer,Senior Clinical Data Engineer / Principal Clin...,"Watertown, CT",via Work Nearby,Full-time,False,"Texas, United States",2023-06-16 13:44:15,False,False,United States,None,NaN,NaN,Boehringer Ingelheim,None,None,None
1,Data Analyst,Data Analyst,"Guadalajara, Jalisco, Mexico",via BeBee México,Full-time,False,Mexico,2023-01-14 13:18:07,False,False,Mexico,None,NaN,NaN,Hewlett Packard Enterprise,"['r', 'python', 'sql', 'nosql', 'power bi', 't...","{'analyst_tools': ['power bi', 'tableau'], 'pr...",r

In [5]:
# keeping selecter columns and rename
f=e[ ['job_title_short'   , 'salary_year_avg','job_location', 'job_via',                'job_work_from_home', 'job_posted_date', 'salary_rate',     'company_name' ,'job_skills', 'job_skills1', 'job_country'] ].copy()

f.columns = ['Job',             'Salary'      ,'Location',        'Via',                'Home',                   'DTC'           , 'Rate',           'Company'     ,'job_skills','Skills'      , 'Country']

print(f.head(5).to_string())

                    Job  Salary                      Location               Via   Home                  DTC  Rate                     Company                                              job_skills  Skills        Country
0  Senior Data Engineer     NaN                 Watertown, CT   via Work Nearby  False  2023-06-16 13:44:15  None        Boehringer Ingelheim                                                    None    None  United States
1          Data Analyst     NaN  Guadalajara, Jalisco, Mexico  via BeBee México  False  2023-01-14 13:18:07  None  Hewlett Packard Enterprise  ['r', 'python', 'sql', 'nosql', 'power bi', 'tableau']       r         Mexico
2          Data Analyst     NaN  Guadalajara, Jalisco, Mexico  via BeBee México  False  2023-01-14 13:18:07  None  Hewlett Packard Enterprise  ['r', 'python', 'sql', 'nosql', 'power bi', 'tableau']  python         Mexico
3          Data Analyst     NaN  Guadalajara, Jalisco, Mexico  via BeBee México  False  2023-01-14 13:18:07  None  Hewlett Packard Enterprise  ['r', 'python', 'sql', 'nosql', 'power bi', 'tableau']     sql         Mexico
4          Data Analyst     NaN  Guadalajara, Jalisco, Mexico  via BeBee México  False  2023-01-14 13:18:07  None  Hewlett Packard Enterprise  ['r', 'python', 'sql', 'nosql', 'power bi', 'tableau']   nosql         Mexico

In [6]:
# Creating Dates variables
g= f.copy()

g['DT'] = pd.to_datetime(g['DTC'])

g['Month'] = g['DT'].dt.strftime('%B')
g['Month'] = g['DT'].dt.strftime('%m')
g['Year'] = g['DT'].dt.year
g.reset_index(inplace=True)

print(g.head().to_string())

   index                   Job  Salary                      Location               Via   Home                  DTC  Rate                     Company                                              job_skills  Skills        Country                  DT Month  Year
0      0  Senior Data Engineer     NaN                 Watertown, CT   via Work Nearby  False  2023-06-16 13:44:15  None        Boehringer Ingelheim                                                    None    None  United States 2023-06-16 13:44:15    06  2023
1      1          Data Analyst     NaN  Guadalajara, Jalisco, Mexico  via BeBee México  False  2023-01-14 13:18:07  None  Hewlett Packard Enterprise  ['r', 'python', 'sql', 'nosql', 'power bi', 'tableau']       r         Mexico 2023-01-14 13:18:07    01  2023
2      2          Data Analyst     NaN  Guadalajara, Jalisco, Mexico  via BeBee México  False  2023-01-14 13:18:07  None  Hewlett Packard Enterprise  ['r', 'python', 'sql', 'nosql', 'power bi', 'tableau']  python         Mexico 2023-01-14 13:18:07    01  2023
3      3          Data Analyst     NaN  Guadalajara, Jalisco, Mexico  via BeBee México  False  2023-01-14 13:18:07  None  Hewlett Packard Enterprise  ['r', 'python', 'sql', 'nosql', 'power bi', 'tableau']     sql         Mexico 2023-01-14 13:18:07    01  2023
4      4          Data Analyst     NaN  Guadalajara, Jalisco, Mexico  via BeBee México  False  2023-01-14 13:18:07  None  Hewlett Packard Enterprise  ['r', 'python', 'sql', 'nosql', 'power bi', 'tableau']   nosql         Mexico 2023-01-14 13:18:07    01  2023

In [ ]:


#this will take only the variable at the end with no missing values. we assume missing at random here
g.info()
h= g[ pd.notna( g['Salary'] ) ].copy()

# We forecast the next salary based on an inflation of 3%. This data is from 2023

h['Salary']= h['Salary'].apply(lambda salary:salary*1.03)
h.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3777320 entries, 0 to 3777319
Data columns (total 15 columns):
 #   Column      Dtype
---  ------      -----
 0   index       int64
 1   Job         object
 2   Salary      float64
 3   Location    object
 4   Via         object
 5   Home        bool
 6   DTC         object
 7   Rate        object
 8   Company     object
 9   job_skills  object
 10  Skills      object
 11  Country     object
 12  DT          datetime64[ns]
 13  Month       object
 14  Year        int32
dtypes: bool(1), datetime64[ns](1), float64(1), int32(1), int64(1), object(10)
memory usage: 392.7+ MB
<class 'pandas.core.frame.DataFrame'>
Index: 120719 entries, 157 to 3777114
Data columns (total 15 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   index       120719 non-null  int64
 1   Job         120719 non-null  object
 2   Salary      120719 non-null  float64
 3   Location    119349 non-null  object
 4   Via         120719 non-null  object
 5   Home        120719 non-null  bool
 6   DTC         120719 non-null  object
 7   Rate        120719 non-null  object
 8   Company     120719 non-null  object
 9   job_skills  118886 non-null  object
 10  Skills      118886 non-null  object
 11  Country     120719 non-null  object
 12  DT          120719 non-null  datetime64[ns]
 13  Month       120719 non-null  object
 14  Year        120719 non-null  int32
dtypes: bool(1), datetime64[ns](1), float64(1), int32(1), int64(1), object(10)
memory usage: 13.5+ MB

Notice that we can safely assume that each country in europe has different salary baremas and that skills are paid differently depending on the job title. In other words, knowing an additional language is an important factor for a secretary maybe more than for a programmer.

In [1]:


# The first dt has relation with the variable dt within the dataset
# the a dataset is the data with the list of the european countries
import pandas as pd
from datasets import load_dataset

dataset = load_dataset('estadistico/europe_countries')
a = dataset['train'].to_pandas()

print(a.head().to_string())

# Selecting all european countries
i =pd.merge(h, a, on='Country', how='inner')
print("#####################################")
print(i.info())

ModuleNotFoundError: No module named 'datasets'

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3777320 entries, 0 to 3777319
Data columns (total 15 columns):
 #   Column      Dtype
---  ------      -----
 0   index       int64
 1   Job         object
 2   Salary      float64
 3   Location    object
 4   Via         object
 5   Home        bool
 6   DTC         object
 7   Rate        object
 8   Company     object
 9   job_skills  object
 10  Skills      object
 11  Country     object
 12  DT          datetime64[ns]
 13  Month       object
 14  Year        int32
dtypes: bool(1), datetime64[ns](1), float64(1), int32(1), int64(1), object(10)
memory usage: 392.7+ MB

In [ ]:

j = i[i["Analyze"] == 'Y'].copy()
j.to_csv('data/Data_Jobs.csv', sep = ',', index=False)